.author-block {
    display: flex;
    margin: 1.2rem 0;
    & .author-block__image {
        & img {
            padding: .8rem;
            border-radius: 50%;
            border: 2px solid $color-secondary;
        }
    }
    & .author-block__meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        margin-left: 1.2rem;
        padding: 1.2rem;
        border-left: 2px solid $color-secondary;
        & p {
            font-size: 2rem;
            margin-bottom: unset;
        }
    }
}