.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 5px 20px 0px rgba(78,78,82,1);
    z-index: 2000;
    @extend .background;
    & .nav {
        display: flex;
        align-items: center;
        width: 100%;       
        & a {
            text-decoration: none;
        }
    }
    & .menu-icons {
        display: none;
        color: $text-primary;
        font-size: 4rem;
        cursor: pointer;
        z-index: 2500;
    }
    & .brand {
        max-width: 8rem;
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
    & ul {
        list-style: none;
        padding: 0;
    }
    & .nav-list {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        & li {
            line-height: 8rem;
            position: relative;
            &.page_item_has_children,  .menu-item-has-children {
                & > a:after {
                    margin-left: 1.2rem;
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                }
            }
            &:hover > .children, &:hover > .sub-menu {
                top: 8rem;
                opacity: 1;
                visibility: visible;
            }
        }
        & .children, .sub-menu {
            width: 20rem;
            display: block;
            position: absolute;
            border-top: 3px solid $color-secondary;
            background-color: darken($color-primary, 10%);
            z-index: 2100;
            top: 16rem;
            opacity: 0;
            visibility: hidden;
            transition: all 650ms ease;
            & li {
                line-height: 4rem;
                &:hover > .children, &:hover > .sub-menu {
                    left: 100%;
                    top: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
            &::before {
                content: ' ';
                position: absolute;
                top: -2.5rem;
                left: 3rem;
                border: 1.2rem solid transparent;
                border-bottom-color: $color-secondary;
            }
            & .children, .sub-menu {
                border-top: none;
                border-left: 3px solid $color-secondary;
                top: 0;
                left: 160%;
                &::before {
                    top: .9rem;
                    left: -2.5rem;
                    border: 1.2rem solid transparent;
                    border-right-color: $color-secondary;
                }

            }
        }
        & a {
            display: block;
            color: $text-primary;
            padding: 0 1.5rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            transition: color 650ms;
        }
        & a:hover {
            color: $color-secondary;
        }
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        position: fixed;
        & .nav .fas.fa-times {
            display: none;
        }
        & .nav.active .fas.fa-bars {
            display: none;
        }
        & .nav.active .fas.fa-times {
            display: block;
        }
        & .menu-icons {
            display: block;
            margin-left: auto;
            margin-right: 2rem;
        }
        & .nav.active .nav-list {
            display: flex;
        }
        & .nav-list {
            background-color: $color-primary;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            flex-direction: column;
            align-items: initial;
            justify-content: initial;
            z-index: 2000;
            
            & li {
                line-height: 6rem;
            }
            & .children, .sub-menu {
                position: initial;
                border-top: none;
                width: 100%;
                border-left: 3px solid $color-secondary;
                max-height: 0;
                &::before {
                    display: none;
                }
                & .children, .sub-menu {
                    width: 100%;
                }
            }
            & li:hover > .children, li:hover > .sub-menu {
                opacity: 1;
                visibility: visible;
                max-height: initial;
            }
        }
    }
}