aside.widgetarea {
    display: flex;
    flex-direction: column;
    min-width: 250px;

    & .widget {
        margin: 0;
        padding: 1.2rem;
        margin-bottom: 1.2rem;
        list-style: none;
        background-color: darken($color-primary, 5%);
    }
}